* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

h1, h2 {
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2;
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    font-family: "Roboto Slab", serif;
}

p, span {
    font-size: 18px;
    line-height: 1.6;
    font-family: "Lato", sans-serif;
}

li {
    list-style: none;
}

body {
    text-align: center;
    padding: 150px;
    color: #ffffff;
    background-color: #171B29;
}

span {
    font-weight: 700;
}

input, button {
    font-family: "Lato", sans-serif;
}

input {
    padding: 10px;
    margin: 30px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #171B29;
}

#entrar, #enviar {
    padding: 5px;
    width: 100px;
    font-size: 14px;
    color: #ffffff;
    background-color: #171B29;
    border: 1px solid #171B29;
}

#entrar {
    margin-top: 30px;
}

#enviar {
    border: 1px solid #ffffff;
}

#entrar:hover, #enviar:hover {
    transition: .3s ease;
    color: #171B29;
    background-color: #ffffff;
}

#imagen {
    padding: 80px 0 40px 0;
}

#boton p {
    color: #ffffff;
}

#boton p:hover {
    color: #171B29;
}

#boton {
    border-radius: 4px;
    border: 1px solid #ffffff;
    height: 50px;
    width: 150px;
    padding: 13px;
    margin-top: 60px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1;
    text-transform: uppercase;
    box-sizing: border-box;
}

#boton:hover {
    transition: .3s ease;
    background-color: #ffffff;
}

#palabrita {
    padding: 60px 0 30px 0;
    font-size: 42px;
    letter-spacing: 2;
    font-family: "Roboto Slab", serif;
}

#letritas {
    padding: 60px 0;
    width: 80%;
}

#ventana {
    padding: 50px;
    flex: 6;
}

#vidas {
    flex: 3;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1;
    font-family: "Lato", sans-serif;
}

#vidas img, #tiempo img, #reiniciar img {
    width: 25px;
    margin: 0 10px;
    float: left;
}

#ganadas, #perdidas, #totales {
    flex: 3;
}

#usuario {
    padding: 30px;
}

#pista {
    padding-bottom: 40px;
}

#respuesta p, input {
    display: inline-block;
}

.flex-container {
    display: flex;
    width: 60%;
}

.flex-container p {
    font-size: 18px;
    text-align: left;
    float: left;
}

.flex-container div {
    padding: 0 40px;
}

.correcto {
    opacity: 0.5;
    background-image: url("../img/check.png");
    color: #7c9321;
    border: 1px solid #7c9321;
    box-shadow: 1px 1px 5px #7c9321;
    background-color: rgb(243, 255, 196);
}

.incorrecto {
    opacity: 0.5;
    background-image: url("../img/cross.png");
    color: #972c31;
    border: 1px solid #972c31;
    box-shadow: 1px 1px 5px #972c31;
    background-color: rgb(255, 188, 190);
}

.correcto, .incorrecto {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12px 15px;
}

.boton, .correcto, .incorrecto, .desactivado {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 5px;
    font-size: 26px;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
}

.boton, .desactivado {
    flex: 3;
    color: #171B29;
    border: 1px solid #C7D2E5;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #C7D2E5; 
}

.desactivado {
    opacity: 0.5;
}

.boton:hover {
    transition: .3s ease;
    cursor: pointer;
    border: 1px solid #8BA3D4;
    background-color: #C7D2E5;
}

.reloj {
    flex: 3;
}

.ventana {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.ventana-contenido {
    background-color: #C7D2E5;
    margin: auto;
    padding: 20px 25px 80px 25px;
    border: 1px solid #C7D2E5;
    width: 80%;
}

.ventana-contenido h1 {
    padding: 60px;
}

.ventana-contenido h1, h2 {
    color: #171B29;
}

.cerrar {
    width: 16px;
    height: 22px;
    float: right;
}

.close {
    color: #aaaaaa;
    float: right;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}